In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('exported_data.csv')

In [3]:
df.head()

,Box,T(label)/K,Voltage/V,T(actual)/C,T1,T2,T3,T4,T5,T6,T7,T8
0,2.0,350.0,200.0,61.221894,0.035107,-0.004655,0.002889,-0.020378,0.023482,-0.005373,-0.001846,-0.023979
1,2.0,375.0,200.0,81.717117,0.048931,-0.009330,-0.010639,-0.060216,0.045785,-0.005588,-0.012355,-0.055461
2,1.0,390.0,200.0,90.096478,0.131213,-0.000574,-0.018285,-0.095936,0.068179,-0.002396,-0.002597,-0.094588
3,2.0,390.0,200.0,94.919981,0.152588,-0.002493,-0.023980,-0.095644,0.068056,0.001260,-0.002428,-0.097469
4,1.0,395.0,200.0,94.260037,0.151562,0.009967,-0.000083,-0.136870,0.138772,-0.004340,-0.013375,-0.150521

In [13]:
voltages = np.array([])
nstart = 2
nfinish = 8
box_no = 2
for n in range(nstart,nfinish+1):   
    DT = df['T5'] - df['T6']
    MDT = df['T8'] - df['T7']
    T = df['T(actual)/C']
    
    indices = (df['Voltage/V'] == n * 100) & (df['Box'] == box_no)
    colors = ['purple', 'turquoise', 'magenta', 'blue', 'green', 'black', 'red', 'yellow', 'cyan', 'orange']
    
    some_line = plt.plot(T[indices],DT[indices], 'x-', color = colors[n], label=str(n*100)+' V')
    #print(plt.get_label(some_line))
    #handles = handles+some_line
    
    plt.plot(T[indices],MDT[indices], 'x-', color = colors[n])
    voltages = np.hstack((voltages, np.array([n, n])))


#legend_names = [str(n*100)+' V' for n in range(nstart,nfinish)]
plt.xlabel('Temperature / $\degree$C (no emissivity correction)', size=15)
plt.ylabel('$\Delta T \,/\, \degree$C (no emissivity correction)', size=15)
plt.title('EC effect in PMN-PT 011 without Joule heating contribution')

#plt.xlim([80,240])
plt.ylim([-0.6, 0.6])

plt.show()

In [ ]:
[[str(n*100)+' V']*2 for n in range(nstart,nfinish+1)][:]

In [ ]:
plt.legend()

In [28]:
DTdf = pd.concat([df['T(actual)/C'], 
                  df['T1']-df['T2'], df['T4']-df['T3'], 
                  df['T5']-df['T6'], df['T8'] - df['T7']], 
                 axis=1, keys = ['T / C', 'DTP1', 'DTM1', 'DTP2', 'DTM2'])

In [38]:
DTdf.head()

         T / C      DTP1      DTM1      DTP2      DTM2
248  81.879548  0.129865 -0.139976  0.128339 -0.140960
249  83.421992  0.161492 -0.145872  0.168287 -0.140870
250  82.540069  0.137604 -0.131224  0.141796 -0.126122
251  89.599728  0.216950 -0.171053  0.195900 -0.183908
252  91.277406  0.262680 -0.193762  0.218697 -0.197103

In [7]:
for n in range(nstart,nfinish+1):
    box_no = 1
    df_temporary = df[(df['Voltage/V']==n*100) & (df['Box']==box_no)]
    DTdf = pd.concat([df_temporary['T(actual)/C'], 
                  df_temporary['T1']-df_temporary['T2'], df_temporary['T4']-df_temporary['T3'], 
                  df_temporary['T5']-df_temporary['T6'], df_temporary['T8'] - df_temporary['T7']], 
                 axis=1, keys = ['T / C', 'DTP1', 'DTM1', 'DTP2', 'DTM2'])
    DTdf.to_csv('delta_T_PMNPT_011_'+str(n*100)+'V_raw_box'+str(box_no)+'.csv', index=False,index_label=False)
    print('Done with n='+str(n))

Done with n=2
Done with n=3
Done with n=4
Done with n=5
Done with n=6
Done with n=7
Done with n=8

In [53]:
DTdf.head()

          T / C      DTP1      DTM1      DTP2      DTM2
249   83.421992  0.161492 -0.145872  0.168287 -0.140870
252   91.277406  0.262680 -0.193762  0.218697 -0.197103
255   99.183575  0.348919 -0.253895  0.290358 -0.226415
258  107.154175  0.478719 -0.276770  0.365204 -0.261989
261  115.111760  0.534740 -0.328348  0.493318 -0.347918

In [55]:
DTdf.plot(kind='scatter',x='T / C', y = 'DTP2')
plt.show()

C:\Users\William\Miniconda3\lib\site-packages\matplotlib\collections.py:590: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if self._edgecolors == str('face'):